<div class="modal-header">
    <h4 class="modal-title">
        {{vm.title}}
    </h4>
</div>
<div class="modal-body">
    <div class="text-white-space">
        {{vm.message}}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.confirm()">
        <i class="fa fa-thumbs-o-up"></i> Ok
    </button>
</div>
