﻿<div class="col-sm-8 col-sm-offset-2">
	<h3>Componente Mensagem</h3>
	<br/>
	<div class="panel panel-default">
		<div class="panel-heading">Exemplo</div>
		<div class="panel-body">
		  	<button ng-click="vm.principal()" class="btn btn-primary">Primary</button>
		  	<button ng-click="vm.sucesso()" class="btn btn-success">Sucesso</button>
		  	<button ng-click="vm.erro()" class="btn btn-danger">Erro</button>
		  	<button ng-click="vm.atencao()" class="btn btn-warning">Atenção</button>
		  	<button ng-click="vm.info()" class="btn btn-info">Informativo</button>
		  	<button ng-click="vm.alerta()" class="btn btn-default">Alerta</button>
		  	<button ng-click="vm.confirmacao()" class="btn btn-default">Confirmação</button>
		</div>
	</div>
</div>